﻿
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Car" asp-action="Approve">For Review</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Rent" asp-action="History">Rent History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Chat" asp-action="Index">Live Chat</a>
    </li>
</ul>
