@model CarFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" placeholder="Make...(VW, BMW, Audi)">
                <span asp-validation-for="Make" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="Model...(Golf, MPower, A4)">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="Year...(1900-@DateTime.Now.Year)">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat"></label>
                <input asp-for="Seat" class="form-control" placeholder="Seat...(1-100)">
                <span asp-validation-for="Seat" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shift"></label>
                <input asp-for="Shift" class="form-control" placeholder="Shift...(Automatic, Manual)">
                <span asp-validation-for="Shift" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType"></label>
                <input asp-for="FuelType" class="form-control" placeholder="FuelType...(Gasoline, Diesel)">
                <span asp-validation-for="FuelType" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay"></label>
                <input asp-for="PricePerDay" class="form-control">
                <span asp-validation-for="PricePerDay" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
