@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IDealerService dealerService
@inject IBalanceService balanceService;
@{
    string userName = string.Empty;
    decimal userBalance = 0;
    if (SignInManager.IsSignedIn(User))
    {

        userName = User.FindFirstValue(RentingSystem.Infrastructure.Constants.CustomClaims.UserFullName);
        userBalance = await balanceService.GetBalanceAsync(User.Id());
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if ((await dealerService.ExistsByIdAsync(User.Id())) == false)
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Dealer" asp-action="Become">Become Dealer</a>
            </li>
        }
        if (User.IsAdmin())
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="Admin" asp-controller="Home" asp-action="Dashboard" title="Back">Admin interface</a>
            </li>

        }
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userName!</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Balance" asp-action="Manage" title="Manage">Balance: @userBalance BGN</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
