@inject IDealerService dealerService
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="All">All Cars</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false)
    {
        if (await dealerService.ExistsByIdAsync(User.Id()))
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="MyCar">My Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Car" asp-action="Add">Add Car</a>
            </li>
        }
    }
</ul>